@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	.welcome
		&__header
			font-size: 64px
	
	.header-contacts
		font-size: 12px
	.carousel-services__item
		flex-direction: column
	
	.s
		&-king, &review, &-partners
			padding: 8% 0
		&-call
			background-size: cover


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	.welcome
		&__header
			font-size: 48px
	.s-call
		&:before
			width: 100%
		.callback
			padding: 12% 0


/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	.header-contacts
		.telephone-header
			text-align: left

.btn
	padding: 12px 36px



/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	.welcome
		&__header
				font-size: 22px
				margin-top: 5px
		&__top
			font-size: 10px
		strong
			margin-top: 13px
			font-size: 12px
		&__bottom
			font-size: 12px
	.phone
		display: none



/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	
	.welcome
		&__top
			font-size: 9px
		&__header
			font-size: 15px
			margin-top: 5px
